<div class="wrapper">
	<div class="container">
		
		<h1>Welcome</h1>

			<div class="form-for-boostrap">
				<%= bootstrap_form_tag url: '/sign_in' do |f| %>
 				<%= f.email_field :email, class: "test"%>
 				<%= f.password_field :password, class: "test" %>
  				<%= f.submit "Login" %>
				<% end %>
			</div>

			<%= link_to "Create an acccount", new_user_path %>

	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>